.game-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-p {
    font-size: 2em;
    height: 1em;
}

.game-button {
    color: white;
    background-color: red;
    border: none;
    border-radius: .6em;

    height: 1.7em;
    width: 5.5em;
    font-size: 3em;
}

.square {
  background: #fff;
  border: 1px solid #222;
  float: left;
  font-size: 7em;
  font-weight: bold;
  line-height: 34px;
  height: 1.2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 1.1em;
}

.board {
  padding: 2em;
}
