body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    flex: 0;

    display: flex;
    flex-direction: row;
    margin: 0;

    background-color: #DDD;
    border-bottom: thin black solid;
}

.title {
    flex: 1;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title * {
    margin: 0;
}

#title-1 {
    font-size: 1.9em;
}

#title-2 {
    font-size: 1.5em;
}

#title-3 {
    font-size: 2.3em;
}

#title-4 {
    font-size: 1.8em;
}

#title-5 {
    font-size: 3em;
}

.navigation-menu {
    flex: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-menu div {
    height: 1em;
}

@media (orientation: portrait) {
    header {
        flex-direction: column-reverse;
    }
}